.bg-section {
  height: 200vh;
  min-height: 1300px;
  background: url('../images/content/trainbg.png') center center / cover no-repeat;
}

.bg-section2 {  
  min-height: 1300px;
  background: url('../images/content/autumnbg.png') center center / cover no-repeat;
}