include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .bg-section
          section#s1.fullscreen-section.main
            .container.main__container          
              include ./pugblocks/header.pug                     
              include ./pugblocks/main__content.pug                                   
              include ./pugblocks/scroll.pug 
          section#s2.aboutme
            .container.aboutme__container
              include ./pugblocks/aboutme__content.pug
        section#s3.benefit  
          +image('content/hands.png', 'hands')                          
          .container.benefit__container             
            include ./pugblocks/useful.pug 
            include ./pugblocks/skills.pug            
        section#s4.works
          .container.works__container 
            h2.title.title-works Мои Работы         
            include ./pugblocks/work.pug 
        .bg-section2
          section#s5.speak
            .container.speak__container
              .slider-speak
                include ./pugblocks/slider-speak__up.pug
                include ./pugblocks/slider-speak__down.pug
          section#s6.mail
            .container.mail__container
              include ./pugblocks/mail-content.pug
        footer.footer  
          .container.footer__container    
            include ./pugblocks/copyright.pug
            .footer__content
              +nav('nav' , ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
              include ./pugblocks/footer__info.pug               