.aboutme__content
    .aboutme__left
        .user
            +image('content/yeresko.jpg', 'user-pic')
        .user-info
            +info('info' , ["Проживаю:", "Возраст:", "Родился:"])
            +infoabout('infoabout' , ["Киев", "31 год", "11 августа 1988"])
    .aboutme__right
        .metitle
            h4.metitle__greeting Привет, меня зовут
            h2.metitle__name Ересько Дмитрий
        .metext
            .metext__up Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .metext__down Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!