.mail-content
    h2.title.title-mail Связаться со мной   
    .mail__form
        form.form                    
            .form__row
                lable.form__block
                    div.form__block-title Введите ваше имя
                    input.form__imput.nameuser(type='text' name='name' required='' placeholder="Имя Фамилия")
                    .error
                lable.form__block
                    div.form__block-title Введите ваш email
                    input.form__imput.posts(type='text' name='email' required='' placeholder="example@mail.com")
                    .error
            .form__row                        
                lable.form__block.form__comments
                    div.form__block-title Сообщение к письму
                    textarea.form__imput.form__imput--texteria.comments(name='comment' required='' placeholder="Требуется Ваша помощь при создании сайта. Интересуют сроки и цена вопроса")
                    .error
            .form__row 
                .form__btn                          
                    button#order.btn(type='submit') Отправить