.slider-speak__up
    h2.title.title-speak Что обо мне говорят
    .scroll-slider
        .btn-block
            button.slider-btn.btn-left
                +icon('arrow-down', 'sbtn sbtn-left')
        .btn-block
            button.slider-btn.btn-right
                +icon('arrow-down', 'sbtn sbtn-right')