.slider-speak__down
    .slider-rewiews
        ul.slider-rewiews__list
            li.slider-rewiews__item                      
                +rewiews('rewiews' , ["Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!"])
                .rewiews-user
                    +image('content/dk.png', 'userpic')                         
                    +sign('sign' , ["Ковальчук Дмитрий"], ["Основатель LoftSchool"])
            li.slider-rewiews__item
                +rewiews('rewiews' , ["Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах"])
                .rewiews-user
                    +image('content/vs.png', 'userpic')
                    +sign('sign' , ["Владимир Сабанцев"], ["Преподаватель"])