.useful
    h2.title.useful__title Чем я могу быть полезен вам   
    .useful__text Этот сайт сделан в рамках обучения в Школе онлайн-образования LoftSchool. Совсем скоро этот сайт будет наполнен актуальным контентом. Пока вы можете посмотретиь как тут всё классно и красиво.